POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=seu_banco
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql+asyncpg://seu_usuario:sua_senha@localhost:5433/seu_banco
